AI extraction agent -production (1).json
{
  "name": "AI extraction agent -production",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert data extraction assistant. Extract customer information from the provided text and return it on the exact JSON structure specified.\n\nText to analyse:\n {{ $json.chatInput }}\n\nExtract the following information:\n- Full name of the person\n- Email address\n- Phone number (if mentioned)\n- Location/City (if mentioned)\n- Product of plan interested in\n- Any specific requests or next steps \n\nIMPORTANT: Return ONLY valid JSON. Do not include any explanatory text, markdown formatting, or code blocks. The output must match the exact schema provided.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a precise data extraction assistant. Always return valid JSON matching the exact schema provided. Never include markdown formatting, code blocks, or explanatory text - only pure JSON output. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        -16
      ],
      "id": "f1f38ef0-d7da-49f7-bef3-7efc169099ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"customer_name\":\"John Smith\",\n  \"email\":\"john.smith@example.com\",\n  \"phone\":\"+91-9873673637\",\n  \"location\":\"New York\",\n  \"interested_in\":\"Premium Plan\",\n  \"next_steps\":\"Schedule demo next week\",\n  \"extraction_confidence\":\"High\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        864,
        176
      ],
      "id": "6119659f-9606-48b2-8a83-1f2688618712",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        208
      ],
      "id": "7ebb2682-5bb2-4f9d-8da1-6e8082867b3d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eIvY1NyOKnPs4wbh",
          "name": "akanksha gemini"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        288
      ],
      "id": "c4ad01f3-2d1b-4723-b10a-a3255f1cbc21",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "eIvY1NyOKnPs4wbh",
          "name": "akanksha gemini"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6b0e7d9-d1e9-4099-b181-bccc6356f3d1",
              "name": "processed_at",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "7caa973a-fbb4-4de4-b6e3-881c5e807f1e",
              "name": "customer_name",
              "value": "={{ $json.output.customer_name }}",
              "type": "string"
            },
            {
              "id": "133eb1e4-83db-405f-919c-58d9155e0a2c",
              "name": "email",
              "value": "={{ $json.output.email }}",
              "type": "string"
            },
            {
              "id": "ad2c106a-59f8-4be0-8f08-a932becc5a65",
              "name": "phone",
              "value": "={{ $json.output.phone }}",
              "type": "string"
            },
            {
              "id": "a2972635-0602-447f-8efa-fd55706fb730",
              "name": "location",
              "value": "={{ $json.output.location }}",
              "type": "string"
            },
            {
              "id": "07d133df-1000-4bdc-b073-b8e3e7d9d2ad",
              "name": "interested_in",
              "value": "={{ $json.output.interested_in }}",
              "type": "string"
            },
            {
              "id": "06a677c2-c2a1-446d-af8b-f43664593086",
              "name": "next_steps",
              "value": "={{ $json.output.next_steps }}",
              "type": "string"
            },
            {
              "id": "6193a61d-6e60-4f0f-9ef5-896b072bec9d",
              "name": "extraction_confidence",
              "value": "={{ $json.output.extraction_confidence }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -208
      ],
      "id": "147e44d4-fb70-45b3-9665-b6b2982df40b",
      "name": "add metadata"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11EH5Q-sfjIwF7nOkI8hNE5wezOpUOAecLGy8eQ_UHRk",
          "mode": "list",
          "cachedResultName": "Customer Requestes(AI extracted)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11EH5Q-sfjIwF7nOkI8hNE5wezOpUOAecLGy8eQ_UHRk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11EH5Q-sfjIwF7nOkI8hNE5wezOpUOAecLGy8eQ_UHRk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_name": "={{ $json.customer_name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "location": "={{ $json.location }}",
            "interested_in": "={{ $json.interested_in }}",
            "next_steps": "={{ $json.next_steps }}",
            "extraction_confidence": "={{ $json.extraction_confidence }}",
            "processed_at": "={{ $json.processed_at }}"
          },
          "matchingColumns": [
            "customer_name"
          ],
          "schema": [
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interested_in",
              "displayName": "interested_in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_steps",
              "displayName": "next_steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "extraction_confidence",
              "displayName": "extraction_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        -224
      ],
      "id": "5dce70c3-4610-44d0-b27e-2e3e18f3ea9b",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6rhrPhaXYORYHLLd",
          "name": "akanksha"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbdc9b9a-c1e4-4836-9d38-6fec8265dc27",
              "leftValue": "={{ $json.output.extraction_confidence }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        -16
      ],
      "id": "fc0215fd-681a-49f2-8166-9e9c3e5a2be9",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4207fe36-33be-48ac-9732-5af0ca3ff551",
              "name": "status",
              "value": "Review Required",
              "type": "string"
            },
            {
              "id": "3b56b6fd-e537-4e9b-9d98-1842df9c2ccf",
              "name": "message",
              "value": "Data extracted but confidence is low or medium. Manual review recommended",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        80
      ],
      "id": "099f2fb0-6f5d-4d4a-a56f-aa3c66e176fa",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        0
      ],
      "id": "f80d5038-f625-4b32-bd1b-744610ce6ca8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "A8t5jR6tvq97eOXE",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        112,
        0
      ],
      "id": "51b201bb-f602-4160-b1aa-ed4314370525",
      "name": "Get a message",
      "webhookId": "0f72a434-02e3-4f88-a5f6-bbb441839d41",
      "credentials": {
        "gmailOAuth2": {
          "id": "A8t5jR6tvq97eOXE",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4391f118-2c51-4cf0-a31f-4f3ae4283abb",
              "name": "chatInput",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "27332472-212a-48e3-be85-b1e3fbd4e156",
      "name": "format ai agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add metadata": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "add metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "format ai agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format ai agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b333839b-bfde-4608-9ff2-366874fc495d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20fa5096a0ba22a5b267ee86cbd978b19a5b24c62dd492bc695bf60def68f04e"
  },
  "id": "hP9rIyYTZIblQGOC",
  "tags": []
}